@import "tailwindcss";
/* index.css or tailwind.css */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&family=Inter:wght@400&display=swap');

/* index.css or tailwind.css */

body.h4 {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

.mySwiper .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.mySwiper .swiper-pagination-bullet {
    background: #ccc;
    opacity: 1;
    width: 10px;
    height: 10px;
    transition: all 0.3s ease;
}

.mySwiper .swiper-pagination-bullet-active {
    background: #dc2626; /* red */
    width: 22px;
    border-radius: 10px;
}
.mySwiper .swiper-pagination-bullet {
    background: #ddd;
    transform: scale(1);
}

.mySwiper .swiper-pagination-bullet-active {
    background: #dc2626;
    transform: scale(1.3);
}